{ 
    "importOrder": ["^(.*)/lib/(.*)$", "^(.*)/providers/(.*)$", "^(.*)/routes/(.*)$", "^(.*)/components/(.*)$", "^[./]"],
    "importOrderSeparation": false, 
    "importOrderSortSpecifiers": true 
}