.release.vlist {
  overflow-y: scroll;

  > ol {
    > li {
      top: unset;
      position: unset;

      > .about-rg {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 30px;
        margin-bottom: 60px;

        > h2 {
          border-bottom: 1px solid var(--gray-4);
          padding: 0 8px;
        }

        > div {
          padding: 0 8px;
          line-height: 1.5;
        }
      }
    }
  }
}
