li.list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1.65;
  background-color: #fff;
  gap: 15px;

  .release-art,
  .artist-art {
    width: 128px;
    margin-left: 15px;
    box-shadow:
      0px 2px 10px -3px rgba(0, 0, 0, 0.1),
      0px 4px 15px -3px rgba(0, 0, 0, 0.12);
  }

  > .details {
    height: 128px;

    > h2 {
      margin: 0;
    }

    > .actions {
      margin-top: 15px;
    }
  }
}
