.vlist {
  > ol {
    > li[draggable="true"] {
      transition: top 0.15s ease 0s;
    }

    > li[tabindex="0"].playing,
    > li[tabindex="0"].paused {
      font-weight: bold;
    }
    > li[tabindex="0"].finished {
      color: gray;
    }

    > li[tabindex="0"]:last-child {
      border-bottom: 1px solid #e4e4e4;
    }

    > li[tabindex="0"]:not(:first-child) {
      border-top: 1px solid #f0f0f0;
    }

    > li[tabindex="0"] {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: white;
      user-select: none;
      gap: 12px;

      .col {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .col.lgutter {
        text-align: center;
        position: relative;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        margin-left: 6px;
      }
      .col.lgutter:hover {
        cursor: pointer;
      }
      .col.rgutter {
        text-align: right;
        flex: 1;
      }
      .col.name {
        inline-size: 30%;
      }
      .col.album {
        inline-size: 25%;
      }
      .col.artist {
        inline-size: 25%;
      }
      .col.year {
        inline-size: 5rem;
        text-align: center;
      }
      .col.liked {
        flex-shrink: 0;
      }
      .col.duration {
        inline-size: 4rem;
        padding-right: 20px;
      }
    }
  }
}
