aside {
  > nav {
    display: flex;
    flex-direction: column;
    gap: 12px;

    > menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style-type: none;
      padding: 0;
      margin: 0;
      gap: 2px;

      > li {
        overflow: hidden;

        > a {
          display: inline-flex;
          justify-content: space-between;
          white-space: nowrap;
          box-sizing: border-box;
          gap: 5px;
          width: 100%;
          padding: 6px 8px;

          > span:not(.jube) {
            text-overflow: ellipsis;
            overflow: hidden;
            flex-shrink: 1;
          }

          > .jube {
            flex-shrink: 0;
            color: var(--gray-12);
            font-size: smaller;
            background-color: var(--gray-3);
            border: 1px solid var(--gray-10);
            border-radius: 9px;
            padding: 1px 8px;
            float: right;
          }

          &.active > .jube {
            color: var(--tomato-12);
            border-color: var(--tomato-9);
            background-color: var(--tomato-3);
          }
        }
      }
    }

    > .separator {
      width: calc(100% - 16px);
      margin: 0 auto;
    }
  }
}
