.thumbnail {
  aspect-ratio: 1;
  background-color: white;
  border: 1px solid black;
  padding: 2px;

  > img {
    display: block;
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    border-radius: 2.5px;
    overflow: hidden;
  }
}

.album-art {
  width: 70px;
  border-radius: 100%;
}

.release-art {
  width: 70px;
  border-radius: 3px;
}
