html,
body,
#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* This ensures the vlist does not overflow the footer */
#root > .split.horizontal {
  overflow: hidden;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;

  > section {
    padding: 8px;
  }
}

/*
 * Route: Provider.tsx
*/
.provider.tabpanel-content {
  padding: 12px;

  > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

/*
 * UTILITIES
*/

.d-flex {
  display: flex;

  &.col {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }
}

.round {
  aspect-ratio: 1 / 1;
  border-radius: 100%;

  &.md {
    width: 40px;
  }

  &.lg {
    width: 60px;
  }
}
