html,
body,
#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* This ensures the vlist does not overflow the footer */
#root > .split.horizontal {
  overflow: hidden;
}

main {
  height: 100%;
  background-color: #f7f7f7;

  > section {
    padding: 8px;
  }
}

/*
 * Component: Header.tsx
 */
header {
  align-items: center;
  justify-content: space-between;
  padding: 2px 8px;
  border-bottom: 1px solid gray;

  > h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
  }
}

/*
 * Component: Sidebar.tsx
 */
aside {
  padding: 8px;

  > nav > menu {
    list-style-type: none;
    padding: 0;
    margin: 0;

    > li + li {
      margin-top: 8px;
    }
  }
}

/*
 * Component: Tracks.tsx
 */
.vlist {
  > ol {
    > li[draggable="true"] {
      transition: top 0.15s ease 0s;
    }

    > li.playing,
    > li.paused {
      font-weight: bold;
    }
    > li.finished {
      color: gray;
    }

    > li {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: white;
      border-top: 1px solid #e4e4e4;
      user-select: none;
      gap: 12px;

      .col {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .col.lgutter {
        text-align: center;
        padding: 1px;
        padding-left: 10px;
        position: relative;
        height: 24px;
        width: 3rem;
        border: 0;
        background-color: transparent;
      }
      .col.lgutter:hover {
        cursor: pointer;
      }
      .col.name {
        inline-size: 30%;
      }
      .col.album {
        inline-size: 25%;
      }
      .col.artist {
        inline-size: 25%;
      }
      .col.year {
        inline-size: 5rem;
        text-align: center;
      }
      .col.liked {
        flex-shrink: 0;
      }
      .col.duration {
        inline-size: 4rem;
        text-align: center;
        padding-right: 10px;
      }
    }

    > li:hover {
      background-color: rgb(255, 240, 235);

      > .col.lgutter {
        color: transparent;
      }

      > .col.lgutter::before {
        content: "";
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 24"><path fill="coral" stroke-width="1" stroke="red" d="M1 1 L25 12 L1 23Z" /></svg>');
        left: 5px;
        width: 3rem;
        height: 14px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        position: absolute;
      }
    }

    > li:focus {
      background-color: rgb(255, 145, 167);
      border-top: 1px solid red;
      border-bottom: 1px solid red;

      > .col.lgutter::before,
      > .col.lgutter:hover::before {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 24"><path fill="white" d="M1 1 L25 12 L1 23Z" /></svg>');
      }
    }

    > li:active {
      background-color: red;

      > .col.lgutter::before,
      > .col.lgutter:hover::before {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 24"><path fill="white" d="M1 1 L25 12 L1 23Z" /></svg>');
      }
    }
  }
}

/*
 * Component: Footer.tsx
 */
footer {
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  min-height: 80px;
  border-top: 1px solid gray;

  > .panel {
    width: 33%;
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  /*
   * Component: NowPlaying.tsx
   */
  > .now-playing {
    > .cover-art {
      width: 70px;
      height: 70px;
      border-radius: 3px;
      background-color: #e4e4e4;
      border: 1px solid gray;

      > img {
        width: 70px;
        height: 70px;
        object-fit: contain;
      }
    }

    > .track {
      gap: 5px;
      justify-content: center;

      > .name {
        font-weight: bold;
      }
    }
  }

  /*
   * Component: PlaybackControls.tsx
   */
  > .playback-ctrl {
    width: 33%;
    justify-content: center;

    > .actions {
      align-items: center;
      justify-content: center;
      gap: 8px;
    }

    > .progressbar {
      height: 7px;
      width: 100%;
      background-color: gray;
      border: 1px solid black;
      border-radius: 4px;
      overflow: hidden;

      > .progress {
        height: 100%;
        background-color: coral;
      }
    }
  }

  /*
   * Component: OutputControls.tsx
   */
  > .output-ctrl {
    width: 33%;
    justify-content: end;
  }
}

/*
 * Component: MeMenu.tsx
*/
.me-menu {
  display: flex;
  align-items: center;

  > .avatar {
    min-width: 40px;
    max-width: 40px;
    overflow: hidden;
    padding: 0;
    margin-left: 8px;

    > img {
      object-fit: cover;
      border-radius: 100%;
      width: 40px;
      height: 40px;
    }
  }

  & nav > menu {
    width: 150px;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

/*
 * Route: Provider.tsx
*/
.provider.tabpanel-content {
  padding: 12px;

  > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

/* Component: SearchInput.tsx */
.search-input {
  position: relative;

  > input {
    width: 280px;
    padding: 6px 12px;
  }

  > button {
    position: absolute;
    height: 100%;
    width: 30px;
  }
}

/*
 * UTILITIES
*/

.d-flex {
  display: flex;

  &.col {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }
}

.round {
  aspect-ratio: 1 / 1;
  border-radius: 100%;

  &.md {
    width: 40px;
  }

  &.lg {
    width: 60px;
  }
}
