.album-compare {
  display: grid;
  min-height: 100%;

  & .separator {
    background-color: rgb(235, 235, 235);
  }

  .metadata {
    margin: 1.25rem 3rem;
    overflow-x: hidden;
    max-width: 500px;
    min-width: 200px;

    > div > h4 {
      margin: 4px 0;
      margin-bottom: 12px;
      padding-left: 2px;
      text-transform: uppercase;
      font-size: smaller;
    }

    > .large-release-art {
      width: 132px;
      height: 132px;
      margin-left: 4px;
    }
  }

  .current.metadata {
    margin-left: auto;
  }

  & caption {
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    font-size: smaller;
    margin-top: 1.6rem;
    margin-bottom: 8px;
    padding-left: 2px;
    padding-bottom: 1px;
    border-bottom: 1px solid lightgray;
  }
}
