.editor.fullscreen {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.editor {
  .split.horizontal {
    overflow: hidden;

    > .panel {
      &.a {
        overflow-y: scroll;
      }

      > section.album-search {
        > form > fieldset {
          display: flex;
          flex-direction: column;
          gap: 4px;
          padding-bottom: 0;
        }
      }

      > section {
        > form {
          > fieldset {
            margin: 0;
            padding: 8px;
            border: 0;
          }
        }

        .album-search-results {
          display: flex;
          flex-direction: column;
          padding: 8px;
          padding-top: 0;
          gap: 5px;

          .search-result {
            padding: 2px;
            display: flex;
            align-items: center;
            gap: 8px;
            text-align: left;

            .search-release-art {
              width: 50px;
            }

            .similarity {
              padding-left: 4px;
              vertical-align: text-top;
              color: green;
            }
          }
        }
      }
    }
  }

  .toolbar {
    height: 60px;
    width: 100%;
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid gray;
  }
}
