.cover-art.metadata-table {
  & .large-release-art {
    width: 142px;
    height: 142px;
    margin-left: 3px;
  }

  > tbody > tr > td {
    border-bottom: 0;

    &.cover-art {
      width: 148px;
    }
  }
}
