.metadata-selector-content {
  display: flex;
  flex-direction: column;
  max-height: 420px;
  width: 300px;
  overflow-y: auto;
  padding-right: 3px;

  > h5 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 13px;
  }

  > .media {
    display: flex;
    flex-direction: column;
    gap: 1px;

    > button {
      display: flex;
      flex-direction: row;
      gap: 3px;
      text-align: left;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 3px;
      padding: 3px 4px;

      &.active {
        border: 1px dashed var(--blue-9);
        background-color: var(--tomato-4);
      }

      > .num {
        width: 2rem;
      }

      > .name {
        flex-grow: 1;

        > svg {
          width: 12px;
          height: 12px;
          color: var(--blue-9);
          vertical-align: middle;
          padding-left: 4px;
        }
      }

      > .len {
        width: 2.5rem;
        text-align: right;
      }
    }
  }
}
