table.track.metadata-table {
  margin-bottom: 2rem;

  & tr > td.num {
    width: 2.5rem;
  }

  & tr > td.len {
    width: 3rem;

    > input {
      text-align: right;
    }
  }

  & button.picker-tool {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0 6px;
    padding-top: 4px;
    margin: 0;

    &:hover,
    &:focus {
      border: 1px solid var(--gray-4);
      background-color: var(--gray-2);
    }

    &:active {
      border: 1px solid var(--gray-8);
      background-color: var(--gray-6);
    }

    > svg {
      width: 12px;
      height: 12px;
      color: var(--blue-9);
    }
  }
}
