table.track.metadata-table {
  & tr > td.num {
    width: 2.5rem;
  }

  & tr > td.len {
    width: 3rem;

    > input {
      text-align: right;
    }
  }

  & button.picker-tool {
    background-color: transparent;
    border: 0;
    padding: 0 6px;
    padding-top: 4px;
    margin: 0;

    &:active,
    &:focus {
      background-color: pink;
    }

    > svg {
      width: 12px;
      height: 12px;
    }
  }
}
