.tabs {
  [role="tablist"] {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    gap: 8px;
  }

  [role="tab"],
  [role="tab"]:focus,
  [role="tab"]:hover {
    display: inline-block;
    position: relative;
    z-index: 2;
    top: 2px;
    padding: 6px 12px;
    border: 1px solid gray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    max-width: 22%;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
  }

  [role="tab"][aria-selected="true"] {
    padding-top: 3px;
    padding-left: 11px;
    padding-right: 11px;
    border-width: 2px;
    border-bottom-width: 0;
    background-color: hsl(220, 43%, 99%);
  }

  [role="tab"][aria-selected="false"] {
    border-bottom: 2px solid gray;
  }

  [role="tabpanel"] {
    padding: 6px 0px;
    border: 2px solid gray;
    border-radius: 0 4px 4px;
    background: hsl(220deg 43% 99%);
    min-height: 15rem;
    overflow: auto;

    > section {
      padding: 0 12px;
    }

    &.is-hidden {
      display: none;
    }
  }
}
