.popover {
  position: relative;
  z-index: 10;

  &.anchored {
    position: absolute;
  }

  > svg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    > path {
      fill: white;
      stroke: gray;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.45));
    }
  }

  > .content {
    position: relative;
    min-width: 80px;
    text-align: center;
    z-index: 1;
  }
}
