#playback-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;

  > .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    > button {
      border: 1px solid var(--gray-11);
      background-color: var(--gray-3);
    }
  }

  & .track-progress {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-size: smaller;
    color: var(--gray-12);
  }
}
