footer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 8px;
  min-height: 80px;
  border-top: 1px solid var(--gray-9);

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:first-child {
      justify-content: flex-start;
    }

    &:nth-child(2) {
      justify-content: center;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }

  /*
   * Component: NowPlaying.tsx
   */
  > .now-playing {
    > .track {
      gap: 5px;
      justify-content: center;

      > .name {
        font-weight: bold;
      }
    }
  }

  /*
   * Component: PlaybackControls.tsx
   */
  & .playback-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;

    > .actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
  }

  /*
   * Component: OutputControls.tsx
   */
  > .output-ctrl {
    justify-content: end;
  }
}
