header {
  align-items: center;
  justify-content: space-between;
  padding: 2px 8px;
  border-bottom: 1px solid var(--gray-9);

  > h1.brand {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;

    > a {
      text-decoration: none;
    }
  }
}
