aside {
  > nav {
    display: flex;
    flex-direction: column;
    gap: 4px;

    > menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style-type: none;
      padding: 0;
      margin: 0;
      gap: 4px;

      > li {
        > a {
          display: block;
          padding: 6px 8px;
        }

        > a {
          > .jube {
            color: var(--gray-12);
            font-size: smaller;
            background-color: var(--gray-3);
            border: 1px solid var(--gray-10);
            border-radius: 9px;
            padding: 1px 8px;
            float: right;
          }

          &.active > .jube {
            color: var(--tomato-12);
            border-color: var(--tomato-9);
            background-color: var(--tomato-3);
          }
        }
      }
    }

    > .spacer {
      height: 1px;
      width: calc(100% - 16px);
      margin: 8px auto;
      background-color: var(--gray-6);
    }
  }
}
